[2014-11-21 19:34] bfalacerda opened #24 "check costmaps configuration"
To do post marathon.

Go through the costmap params files and be sure that they make sense, it looks like they're messy. See https://github.com/strands-project/strands_navigation/issues/152

[2014-11-21 19:35] bfalacerda commented on #24
I cant even assign myself. Lack of permissions make me sad :(

[2014-12-01 19:05] bfalacerda opened #27 "iron out move_base issues"
As we saw during the preparation for the marathon, our continuous navigation system still has a couple of loose ends that need to be taken care of. We've been adding some issues here and there, and discussing it around, so I'd like to put them all together in a single issue where we can start ticking boxes. I would appreciate if we can split this work on a couple of people, and have the proposed c

[2014-12-01 19:06] bfalacerda commented on #27
i'll be looking at the costmap layers in the next couple of days

[2014-12-01 19:09] bfalacerda commented on #27
please add stuff that i missed

[2014-12-02 09:03] lucasb-eyer commented on #27
I'll try to elaborate, but it'd be easier drawing on a whiteboard. There's the voxel grid in which single voxels get set when there is "something" and unset when there's nothing, then the voxel grid gets projected down to a 2d grid on the groundplane by "adding" up marked voxels. I think the problem is twofold:
1. (Un)Setting voxels in an axis-aligned grid using a pointcloud which is not aligned t

[2014-12-02 09:03] nilsbore commented on #27
Good initiative, thanks for writing this up. I have some thoughts on the different problems:
1. I think we should keep the laser in the global costmap but remove the chest camera obstacles from there. We might as well just use a 2d obstacle_layer instead of the voxel map in the global costmap then and the 2d obstacle_layer is a bit more stable in my experience. I think keeping the laser in the glo

[2014-12-02 23:00] bfalacerda commented on #27
thanks for replying @nilsbore @lucasb-eyer , you two were pretty much my hope for getting some help on this, I'm happy to see you step forward :)

I spent the day sending bob in and out our lab door, and figured out some things. I'll try to keep them organized on points 1-4, though there's a bit of an overlap between them.
1. The main thing that needs to be changed in our costmaps definition is th

[2014-12-02 23:32] lucasb-eyer commented on #27
Ha, that inflation thing makes sense and even reading the whole documentation it didn't occur to me, nice find! In case it can give you ideas or I forgot to mention any of the nav tweaks I did for the marathon, I pushed [my full marathon system](https://github.com/lucasb-eyer/strands_karl) today.

Also, cheers for tackling this daunting task.

[2014-12-03 08:51] nilsbore commented on #27
That is indeed a good find. It is strange that passing through quite narrow doors here worked fine for quite a while though, I guess they corrected a bug in `dwa_local_planner` that allowed us to do that with the inflation layer on.
1. :+1: Also, there is an option in the `dwa_local_planner` to make the footprint a bit bigger if we need it be a bit more conservative.
2. This makes sense as a stopg

[2014-12-03 13:27] nilsbore commented on #27
I did a bit of testing with removing the inflation layer from the local costmap. It seems to improve things but the planner still has a difficulty passing through doors; I noticed that the problem with turning towards obstacles is still there. So I think there is something more at play here. I will get an old `move_base` and see what happens now.

[2014-12-03 13:49] bfalacerda commented on #27
@nilsbore can you test the params in https://github.com/strands-project/strands_movebase/pull/30?

[2014-12-03 13:59] nilsbore commented on #27
Yes, sure. Btw, I checked out branch `1.11.4` of https://github.com/ros-planning/navigation and it makes a huge difference! We need to figure out what's changed here. Navigation is so much smoother with that old version! Rosie gracefully passes through doors that she has had real problems with and more carefully turns around corners.

[2014-12-03 14:05] nilsbore commented on #27
We had a problem with starting up multiple map servers before recently updating the packages (we could not use the no-go maps that everyone else could). This has not been a problem recently. I think it was because we were using an older branch of `move_base` before whereas everyone else were using a newer one (we did e.g. during the review). This older branch seems to have performed better with th

[2014-12-03 14:09] bfalacerda commented on #27
well, we've seen that the two static layers dont work anyway, so having the ability to run 2 map servers is pretty much useless. If 1.11.4 is much better, we might think to revert to it for deployments, if the current version at the time sucks

[2014-12-03 14:11] nilsbore commented on #27
Please try it out and see what you think. It's useless to optimize parameters for the new version if we're gonna use the old one. I would like to stay with the trunk version, but that also means that we might have to search for a new parameter set now and then. I will see if I can identify what's changed, haven't found any reasons for this in `dwa_local_planner` yet.

[2014-12-03 14:15] nilsbore commented on #27
I tried `1.11.5` now also and it's as bad as trunk so it seems the change must have happened somewhere in between.

[2014-12-03 14:18] bfalacerda commented on #27
very weird. at least now we know where to revert if we really need to. can you check if the params in https://github.com/strands-project/strands_movebase/pull/30 with the trunk version are acceptable?

[2014-12-03 14:20] nilsbore commented on #27
With that resolution of the local costmap, it's not acceptable because of lingering obstacles.

[2014-12-03 14:22] bfalacerda commented on #27
yeah, with it back to 0.05

[2014-12-03 19:11] lucasb-eyer commented on #27
This one, I don't know, but it feels so much like someone, somewhere, put a `-` where there should be a `+` or the other way around. But it'd be strange for such a bug to be unnoticed in ROS.

[2014-12-04 09:30] nilsbore commented on #27
Me and @BFALacerda tried out what's changed from `1.11.4` and it's something that changed in the `dwa_local_planner` or `base_local_planner` before `1.11.5`. It makes the robot less careful, which means it passes doors more easily but is also prone to crashing into the sides of the doors. Increasing the `footprint_padding` seemed to yield performance similar to later versions.

[2014-12-04 19:28] bfalacerda commented on #27
I'm pretty much done with this, I don't think there's much more we can do given move_base's own limitations. My final remarks on what can still be an issue:
- The current version of move_base doesnt allow us to load more than 1 static layer, it just overwrites the old static layer when we define a new one. This means that, for the time being, our no_go_maps _need_ to be a copy of the original map,

[2015-02-02 11:22] Jailander opened #36 "adding dwa_local_planner to dependencies on indigo"
dwa_local_planner is not installed automatically anymore and it has to be defined as a dependency

[2015-02-03 14:22] Jailander commented on #36
oops this already solved just needs to re-released I'll close then sorry

[2015-02-03 14:22] #36 closed

[2015-02-10 09:30] nilsbore opened #37 "[strands_movebase] map_server should be run_depend"

[2015-02-10 09:30] cburbridge commented on #37
it is but it needs re-releasing...

[2015-02-10 09:34] nilsbore commented on #37
Ah, yeah, missed that, thought it was just DWA that was added. Closing.

[2015-02-10 09:34] #37 closed

[2015-02-17 12:31] bfalacerda commented on #24
this is old and was taken care of as much as move_base bugs/limitations allowed to. see https://github.com/strands-project/strands_movebase/issues/27

[2015-02-17 12:31] #24 closed

[2015-03-03 16:42] marc-hanheide opened #39 "change costs of unknown areas in costmaps"
http://wiki.ros.org/costmap_2d/hydro/staticmap

[2015-03-03 16:45] marc-hanheide opened #40 "try base_local_planner instead of dwa_local_planner"

[2015-03-03 16:46] marc-hanheide commented on #40
then we need to test parameters and find a stable set

[2015-03-03 16:58] marc-hanheide commented on #39
and look at this, too: https://github.com/ros-planning/navigation/blob/indigo-devel/navfn/src/navfn_ros.cpp#L75

[2015-03-04 18:02] Jailander commented on #40
We (me and @cdondrup ) just did some testing on this, the `base_local_planner` was not an improvement, the problem is that it rejected a lot of goals without even trying, and it sometimes quitted the navigation when an obstacle first appeared, even though overall the trajectories were smoother.

Seeing this we decided to try different parameter configurations on the `dwa_planner`, the first findin

[2015-03-04 18:22] cdondrup commented on #40
Just a small addendum, we also set the `trans_stopped_vel` to 0.0 as a consequence of the above changes. Due to the turning on the spot, it also is able to plan out of corners that it usual gets stuck in.

[2015-03-04 18:23] Jailander commented on #40
yes true thank you @cdondrup

[2015-03-05 08:37] marc-hanheide commented on #40
Excellent, good job! Many, may thanks.
I think the new parameters should be tried by other sites now. @cburbridge @bfalacerda @nilsbore @hawesie @yianni @lucasb-eyer @ToMadoRe @mzillich  you think you want to give this a try and put your observations in here, please? I leave this open until every site has reported their level of happiness and then we shall make the found parameters default in `str

[2015-03-05 09:01] nilsbore commented on #40
On it! I have similar experiences with the `base_local_planner`. Didn't explore too much of the parameter space though.

[2015-03-05 11:25] lucasb-eyer commented on #40
This sounds just right, esp. the `*trans*vel` part. I'll try to test it soon-ish, though I'm swamped right now.

[2015-03-05 19:04] cburbridge commented on #40
I have not had a chance to test these parameters yet, but surely we should just have `vy_samples: 1` to (presumably) only sample the current y velocity? This might also mask https://github.com/strands-project/strands_morse/issues/96.

[2015-03-06 16:29] cburbridge opened #42 "No inflation layer on local costmap"
There is no obstacle inflation in the local costmap because the inflation layer is commented out in https://github.com/strands-project/strands_movebase/blob/hydro-devel/strands_movebase/strands_movebase_params/local_costmap_params.yaml, is it supposed to be?

[2015-03-06 16:37] nilsbore commented on #42
@BFALacerda changed this because the local planner does not take the
inflated cells into account anyways. It only cares about the occupied parts.

[2015-03-06 16:42] bfalacerda commented on #42
i removed the inflation layer because dwa planner uses the robot footprint to check for collisions. If we also have the inflation layer, we're basically inflating twice. I kept it in the global costmap because the global plan is generated for a point robot

[2015-03-06 17:52] bfalacerda opened #43 "remove_edges_laser not working in simulation"
it just gets core dumped when I try to run it. I tried it in 2 different computers and it happened in both. it doesnt happen in bob. Any idea @nilsbore ?

[2015-03-06 17:58] nilsbore commented on #43
This could be due to one of the fields of the simulated message not being initialized properly. My bet would be on e.g. the intensity vector not being allocated in the incoming message. Don't have time to look into it today but maybe tomorrow morning.

[2015-03-07 09:58] nilsbore commented on #43
I had a look now and the intensities vector is indeed zero in simulation. I'll just add a check to see if it's empty before copying but this should probably be fixed in strands_morse.

[2015-03-07 15:34] hawesie commented on #42
My impression is that this leads to paths which are a little too close for comfort to obstacles, given the various sensor and localisation inaccuracies. Can we expand something to cause dwa to be a little safer?

[2015-03-07 15:57] bfalacerda commented on #42
we can. it's a tradeoff between getting stuck more often and playing it more safe. the inflation layer can be enabled/disabled dynamically, so we might want to e.g. enable it when humans are around, but keep it disabled in tight areas?

[2015-03-07 17:10] cdondrup commented on #42
Actually, we are currently looking at social costmaps for when humans are around: https://github.com/strands-project/strands_perception_people/issues/143 which should be a very low hanging fruit since the bayes tracker already produces the right output. This means we would not necessarily need the inflation. But being able to activate it dynamically would be nice because currently it is just comme

[2015-03-07 19:42] bfalacerda commented on #42
yeah, we would have to put it back in and then have some node enabling/disabling it (or playing with the inflation radius and keeping it enabled all the time)

[2015-03-08 13:10] cdondrup commented on #42
Would it be worth making the inflation radius part of the edge definition for topo nav to have the ability of changing it for certain parts of the environment? @Jailander @bfalacerda

[2015-03-08 20:00] hawesie commented on #42
It's not just when humans are around. Chairs and tables have been problematic with our robots with no inflation. IMO we need a couple of centimetres of wiggle room to deal with noise from the sensors and localisation when encountering obstacles which are not in the map.

[2015-03-09 12:38] bfalacerda commented on #43
thanks @nilsbore

[2015-03-09 12:38] #43 closed

[2015-03-09 12:41] Jailander commented on #42
I think we definitely need this capability and make it permanent. But, I don't know if adding the inflation radius to the topological map is the way to go, we can add this definition on the topological edges, I see how this would be useful like for example making sure the inflation radius is minimal on narrow edges and can be modified in wide spaces so for example defining if the inflation radius

[2015-03-09 13:38] bfalacerda commented on #42
if there's a default value for all of these things so that in general we don't even need to think about them, that should be ok, so I'm for adding an extra field

[2015-03-09 13:42] hawesie commented on #42
I'm not clear on the benefit of including the inflation in the edge. Most of our edges are the same wrt to inflation (IMO). The ones that aren't have special-purpose actions anyway. This also side-steps what the default should be: inflated a bit or not inflated.

[2015-03-09 13:47] Jailander commented on #42
Yes, thinking about it @hawesie maybe its better if the actions themselves take care of this inflation, so I think it could be part of human aware navigation, door passing, etc ...
This way topological navigation only has to care about it setting it back to default fro cation that don't control the inflation radius such as move_base.

[2015-03-09 17:07] Jailander commented on #42
@bfalacerda are we doing something else on the topological map level about it or do you think the inflation is enough?

[2015-03-09 17:33] bfalacerda commented on #42
Not sure, I'm not completely satisfied or unsatisfied with either solution tbh. I'd be more inclined to have it in the top map definition, as the overhead of having it there is not too big I think... But we can also have a default that is only changed by certain nodes, or even as a recovery behaviour...

If you and @hawesie prefer not having it in the top map definition then be it

[2015-03-12 16:37] lucasb-eyer commented on #40
ping @vonovak

[2015-03-16 12:03] bfalacerda opened #48 "hydro-devel vs indigo-devel"
We have been pushing changes to both branches lately, so they're out of sync.

https://github.com/strands-project/strands_movebase/pull/46 puts hydro-devel at a point where all nodes rin without crashing (there was an import error merged into it).

https://github.com/strands-project/strands_movebase/pull/47 gets indigo-devel up-to-date, and we should make it the default branch to avoid this in the

[2015-03-16 12:43] marc-hanheide commented on #48
yes, that pull requests look fine to me. What I noticed is that the release procedure for `strands-movebase` in https://github.com/strands-project-releases/strands_movebase/blob/master/tracks.yaml are set up to release from the default branch, i.e. currently `hydro-devel`. That's not good practice as the default might be changed by someone unnoticed to the system. So I suggest to tie the release t

[2015-03-16 12:47] marc-hanheide commented on #48
actually doing it already ;-)

[2015-03-16 12:57] marc-hanheide commented on #48
should be done and dusted. I suggest we make indigo-devel the new default branch here? Please confirm @bfalacerda @Jailander

[2015-03-16 12:57] #48 closed

[2015-03-16 13:34] bfalacerda commented on #48
yes, please change default branch @marc-hanheide

[2015-03-16 13:36] marc-hanheide commented on #48
done

[2015-03-19 09:50] cdondrup opened #50 "Missing robot model in rviz"
If the navigation is launched with the chest camera enabled, [the parameter loading](https://github.com/strands-project/strands_movebase/blob/indigo-devel/strands_description/launch/strands_state_publisher.launch#L9-L10) overwrites the normal `\robot_description` with only the description for the chest camera. In oder for this to work, the [urdf file](https://github.com/strands-project/strands_mov

[2015-03-27 15:53] hawesie opened #51 "Small random points in local cost map"
I'm regularly seeing little points like this in Bob's local costmap. I've recalibrate the chest camera, but they've not gone away. Any pointers on parameters to play with or on the likely source of this problem? I'm running the default strands_bringup launch file as follows

`roslaunch strands_bringup strands_navigation.launch map:=/opt/maps/1f_pre_deployment/cs_1f_20140724-cropped.yaml  no_go_map

[2015-03-27 16:04] hawesie commented on #51
D'oh, cable hanging in the laser. Thanks @bfalacerda for fixing it!

[2015-03-27 16:04] #51 closed

[2015-04-01 15:28] bfalacerda commented on #42
we added a small inflation for the local costmaps. closing

[2015-04-01 15:28] #42 closed

[2015-04-02 15:17] bfalacerda commented on #40
i got lost here, have these params been merged already?

[2015-04-02 15:31] nilsbore commented on #40
I think they have, and it's working fine here.

[2015-04-02 15:34] nilsbore commented on #40
Or.. Looking at https://github.com/strands-project/strands_movebase/blob/indigo-devel/strands_movebase/strands_movebase_params/dwa_planner_ros.yaml, it doesn't seem like it, in particular I don't see `trans_stopped_vel` and `min_trans_vel`.

[2015-04-02 15:38] bfalacerda commented on #40
@Jailander @cdondrup could you make a PR so I can put it in bob more easily?

[2015-04-02 15:43] Jailander commented on #40
Ok

[2015-04-07 16:03] bfalacerda commented on #40
in the place we have bob nav works well anyway, so we can't really see the benefits of these params. Given https://github.com/strands-project/g4s_deployment/issues/8 , maybe we should at least try them in simulation? Can someone do it? @kunzel ?

[2015-04-08 09:57] lucasb-eyer commented on #40
In our place they may be extremely beneficial, but I don't have the time to test them until in two and a half weeks, deadlines and meetings in the other project...

[2015-04-08 13:37] #50 closed

[2015-04-08 16:07] bfalacerda opened #54 "stop loading stuff from scitos_2d_navigation"
As discussed in https://github.com/strands-project/strands_movebase/pull/52

This is done to make this repo self-contained. We will have the costmaps being configured as voxel maps regardless of usage of chest cam, but will allow for it not to be used, for running it in simulation.

Any volunteers? :)

[2015-04-08 16:09] bfalacerda commented on #54
also get a copy of [amcl.launch](https://github.com/strands-project/scitos_2d_navigation/blob/hydro-devel/launch/amcl.launch) in this repo

[2015-04-13 08:02] nilsbore opened #56 "[strands_movebase] Add machine tag to launch the head camera processing node on right PC"
Yeah.

[2015-04-27 10:41] #56 closed

[2015-06-17 16:16] vonovak commented on #40
The robot does behave better with the `*trans*vel = 0`

Also: Setting the forward_point_distance parameter to 0 improves how the robot is turning on the spot. Instead of oscillating left and right in some situations, it can make a full ~180 deg. turn. Also, increasing angular_sim_granularity to about 0.4 sometimes made the robot on-the-spot rotations a bit less jerky.

[2015-10-15 12:43] marc-hanheide opened #62 "Making movebase work"
tema members @cburbridge @bfalacerda @cdondrup @Pandoro @Jailander @denisehe @TobKoer @PDuckworth @jstueckler

## Identified issues
1. global planner is updating too slowly (tried 10Hz)
1. the local planner's parameterisation is off and uses many "guessed" values
1. we need a test definition (to have some "genetic" optimisation for the parameters)
1. observed problems
  1. turning towards obstacle

[2015-10-15 16:09] marc-hanheide commented on #62
OK, so this is the brief summary of what we planned to do. No it's time to get going on this.
Can ask representatives of the sites (maybe @bfalacerda @Pandoro @Jailander @PDuckworth and @nilsbore) to check the parameters they are using, post them (i.e. link them) from here and write one paragraph summarising your observations.

Then, we should create the setup for the test cases, e.g. have a share

[2015-10-15 16:10] marc-hanheide commented on #62
forgot @hawesie... sorry

[2015-10-16 11:35] bfalacerda commented on #62
I forgot we can't check what params we were using on Bob during the deployment because his hard drive died. I'm pretty sure we were using the current strands_movebase ones though.

However, @kunzel did some changes to the dwa params  to make it follow the global path more closely. It was only added to [scitos_2d_nav](https://github.com/strands-project/scitos_2d_navigation/blob/hydro-devel/scitos_m

[2015-10-19 11:03] cdondrup commented on #62
Actually setting `path_distance_bias` to 1 and `goal_distance_bias` to 0.5 should have had the opposite effect and allow the robot to diverge from the global path a bit more. However, if the DWA only uses the params described above (I remember there was goal align and path align somewhere as well but that might have been in a different implementations of it) then this shouldn't have changed much.

[2015-10-19 11:25] bfalacerda commented on #62
yes, from what i understand, the short sim time is what makes a big difference here: since both those values only look at the endpoint of the simulated trajectories, if we increase their size we increase the number of trajectories that don't go along the global plan, but have an endpoint close to it

[2015-10-19 11:29] cdondrup commented on #62
Isn't that what you want for obstacle avoidance?

[2015-10-19 12:33] bfalacerda commented on #62
depends. if we increase the rate of the global planner it might be better to keep the sim time smaller? with this version we had the robot rotating a lot more in place, at least in simulation.

[2015-10-19 14:59] Pandoro commented on #62
We are indeed using some custom parameters. We had our old hiwi run around and optimize the parameters in such a way that the behaviour would be 'optimal' and we have the following in our "site parameter"-file:

[code]

I can't really say what the idea was behind these changes, just that it felt a bit more stable after he played around with the parameters. In general navigation seems okayish, apar

[2015-10-19 16:24] marc-hanheide commented on #62
Could you please submit a link to the "whole" set of files, as this already assumes there would be a standard you deviate from ;-)

[2015-10-19 16:31] Pandoro commented on #62
You can check out the [strands karl repo](https://github.com/lucasb-eyer/strands_karl). This should have everything we use, including the above file. We took most of the stuff from what we had before in the marathon system and updated it with everything new and relevant from the review system.

[2015-10-20 08:38] marc-hanheide commented on #62
@Pandoro @Jailander @cdondrup Can I ask you to fill the doodle poll at https://doodle.com/poll/56f7c5ydtqny8p78 as well, please?

[2015-10-20 08:45] marc-hanheide commented on #62
For the record, I link the current versions of params here:

## BHAM
- normally based on [strands_movebase](https://github.com/strands-project/strands_movebase/tree/b30a6e3fc85745a3161c8d61feaa720262b450d2/strands_movebase/strands_movebase_params)
- with some changes dicussed in https://github.com/strands-project/strands_movebase/issues/62#issuecomment-148691500

## RWTH
- seems pretty much standa

[2015-10-20 08:46] marc-hanheide commented on #62
@bfalacerda do you remember why we move to our own NavFn? https://github.com/strands-project/strands_movebase/commit/561836295f0418981240e0b1eb5db40f90d7c0ba

[2015-10-20 09:01] bfalacerda commented on #62
yes, so we could reconfigure the default_tolerance param a runtime. This  makes the robot not go to the exact pose of the intermediary waypoints.

[2015-10-20 09:05] marc-hanheide commented on #62
right, I remember...

[2015-10-20 09:51] nilsbore commented on #62
A git diff to the branch we are using reveals no changes to the parameters.

[2015-10-20 10:14] Jailander commented on #62
@marc-hanheide in Linda we use the standard parameters namely the ones at https://github.com/strands-project/strands_movebase/tree/indigo-devel/strands_movebase/strands_movebase_params

[2015-10-27 15:12] marc-hanheide commented on #62
simulation env in https://github.com/strands-project/strands_morse/pull/138

[2015-10-27 15:24] nilsbore commented on #62
http://answers.ros.org/question/201535/move_basedwa-parameters-for-a-large-robot-with-rotation-center-in-the-front/

This makes me want to investigate how the robot behaves if we set `forward_point_distance: 0.0`. The point afterwards about visualizing the evaluated trajectories also sounds like a good point.

[2015-10-27 22:34] marc-hanheide commented on #62
very useful @nilsbore !

Quick summary of today's hangout:
1. @Jailander to define the first test case as part of strands_navigation unit test as a blueprint
2. @bfalacerda to talk to @cburbridge to fork https://github.com/ros-planning/navigation into STRANDS including Chris' visualisation of policies (and release it from there)
3. @cdondrup to work on the testing framework, including recording of

[2015-10-28 17:36] cburbridge commented on #62
I have forked navigation into strands-project and added my debug out changes to the "strands-testing" branch. These changes are not permanent as they make the code less efficient, so this branch should only be used for debugging etc. Therefore I don't think a "release" would be a good idea.

To use it, download and build the repo in you workspace then restart navigation, and run the (ugly) python

[2015-10-28 22:09] marc-hanheide commented on #62
@cburbridge agreed, not to be released. I just thought we'll eventually fix code in navigation and then we'd have our own. But for now, let's leave it as a debug tool.

[2015-10-28 22:16] marc-hanheide commented on #62
People will (probably) like to hear that Jenkins can now run simulation-enabled test (more precisely, it can run test in a virtual OpenGL/X environment, hence allowing us to write unit test that use the simulator and/or other GUIs. https://github.com/strands-project/strands_navigation/pull/270 is a first example (though a stupid one as it only starts the simulator but doesn't do anything with it,

[2015-10-29 14:49] creuther commented on #62
I talked to my people and this is the (probably not as satisfying as hoped for) gist of it:

**1**. The SCITOSDriver specifies a whole lot of maximum/minimum velocities and maximum positive/negative accelerations. These values are passed down to the MCU (Main Control Unit) and will be used as soft limits in the motor controller. Most of the time these constraints are met, but apparently it cannot

[2015-10-29 16:16] marc-hanheide commented on #62
given the values are defined in the Mira config file would it make sense to expose them as rosparams and have DWA configured from those params? obviously we would expose them as rad/s(^2) where needed?

[2015-10-29 16:31] creuther commented on #62
Certainly possible, they can be queried in MIRA and therefore exposed as rosparams. Though note that they are not dynamically reconfigurable, they are written to the MCU at startup and then can't be changed during runtime.
But still, it would probably beat having to maintain two sets of files (robot config file and dwa params file) and all the potential trouble that comes with that. I can get toge

[2015-10-30 21:06] cburbridge commented on #62
I have done some test in the `scitos_mira` code, and I think there is a ~400ms delay between commanding a velocity and the odometry reporting that the robot is moving at that speed. This is  just the delay on the  MIRA side, it does not include any delay between the DWA selecting a velocity and the MIRA code sending that velocity to the firmware. @creuther would you expect this kind of timing?

[2015-11-02 10:31] nilsbore commented on #62
I made some improvements to how the clouds are processed by movebase, which should gains us some more CPU on the main computer: https://github.com/strands-project/strands_movebase/pull/64 .

[2015-11-03 09:01] marc-hanheide commented on #62
In response to https://github.com/strands-project/strands_movebase/issues/62#issuecomment-152651469: @creuther can you comment? A delay of almost half a second can indeed explain a lot of stuttering I guess. Is there a way to reduce this or is there a way to make DWA aware of such a delay (asking very silly questions)...

[2015-11-03 09:56] creuther commented on #62
This seems very peculiar to me. I wanted to do a test on Betty but no one's here yet so I'm hesitant to stop the running ROS stuff.

From our side, we expect some delay in setting and passing the command to the motors ( as always, giving an exact number is not possible, unfortunately... :( ) but **certainly** not 400ms. I'll have a look and report back as soon as someone turns up at the office ;)

[2015-11-03 11:32] hawesie commented on #62
Tsk, lazy Brummies.

[2015-11-03 13:01] cburbridge commented on #62
I'm away this week, but will look at it again on Monday.

[2015-11-04 11:30] creuther commented on #62
Small update: Commanding a velocity from MIRA directly doesn't result in any significant delay, while the delay is definitely there if you command the velocity from ROS. I had a look through the scitos_mira code but can't really see any obvious points of concern.

The only thing that I am not too sure about is the following: [Here](https://github.com/strands-project/scitos_drivers/blob/indigo-deve

[2015-11-04 12:00] cburbridge commented on #62
The 5Hz spin loop is a separate thread to the odometry message receiving,
so having this at 5Hz should be ok I think. However, there used to be
horrible bug in this respect a while back:
https://github.com/strands-project/scitos_drivers/pull/53 so this needs
more checking. Since the only component that registers functions to be
called in that loop is the head, it would be interesting to test witho

[2015-11-05 10:48] cdondrup commented on #62
Since the tests are almost finished, I have a few questions:

**Recovery Behaviours**: Which recovery behaviours, if any, do we want during the test runs? Especially things like backtrack make the whole test if DWA can turn when it faces a wall kind of pointless as the robot will backtrack and then turn. Since we want to tune DWA parameters, I think we have to be careful which recoveries to run. T

[2015-11-05 10:56] cdondrup commented on #62
Just briefly talked to @marc-hanheide and this is what we thought would be best:

**Recovery Behaviours**: None. This is not what we want to test here. Follow-up question for @bfalacerda by not giving the mon nav a config file it does not run the stuff in the config file obviously. For the ones in the python file I would have to disable them via the parameter?! Or can I disable them all together f

[2015-11-05 11:03] Jailander commented on #62
The config file tells which recovery behaviours python file to load, you need to run monitored navigation, but if you don't give any config file it will simply not load any (which is what we want in this case).

[2015-11-05 11:23] bfalacerda commented on #62
I agree with @marc-hanheide, and @Jailander already answered the question about the config file :) You should also see a warning being printed telling you that there are no recovery behaviours added.

Regarding the config vs python, config defines the [RecoverStateMachine](https://github.com/strands-project/strands_navigation/blob/indigo-devel/monitored_navigation/src/monitored_navigation/recover_

[2015-11-05 11:33] cdondrup commented on #62
We discovered a different problem regarding the timeout that I guess @bfalacerda solved somewhere in monitored nav that I can't find. Navigation never fails. Somewhere there has to be a timeout. Can you point me to that @bfalacerda ?

[2015-11-05 11:37] bfalacerda commented on #62
I don't get the question. What do you mean navigation never fails?

There are no timeouts in monitored nav, it waits for move_base (or whatever action it calls) to give a result

[2015-11-05 11:39] Jailander commented on #62
I think the question, is how to set a timeout in monitored navigation because move_base doesn't fail by itself

[2015-11-05 11:45] bfalacerda commented on #62
it does, dwa eventually gives up. you can also  set the `planner_patience` and `controller_patience` params:
http://wiki.ros.org/move_base?distro=jade#Parameters

[2015-11-05 11:45] cdondrup commented on #62
The problem is that if the robot starts in front of a wall (10cm distance) it just prints:

[code]

until the end of times. The problem is that the robot is not inside an obstacle so navigation does not fail but is also not able to find a path. I let it run for a few minutes but it didn't give up. I'll have a look the link. Thanks!

[2015-11-05 11:48] cdondrup commented on #62
OK, I don't think this will help much:

[code]

It does perform the clearing but then simply keeps on trying to no avail.

[2015-11-05 11:48] bfalacerda commented on #62
are you sure it's not failing and being called over and over again? Are you using topo nav policy execution? I think it tries several times. monitored nav will always report back to topo after a failure so it can decide what to do

[2015-11-05 11:52] bfalacerda commented on #62
the behaviour that move_base usually has after dwa failing for `controller_patience` seconds is clearing the costmaps and trying again. If valid controls are still not found, it should output aborted. I've never seen it getting stuck with dwa failing forever

[2015-11-05 11:59] cdondrup commented on #62
Just to see if it does anything I ran it for 5 minutes (8 minutes now after finishing to write this) and the only thing it outputs is that DWA is unable to produce a path. This is the same when the robot, e.g. is surrounded by people, technically, there is nothing wrong because the robot is in free space and not inside an obstacle but the DWA can still not find a path. Hence, navigation will never

[2015-11-05 12:04] cdondrup commented on #62
Also, the goal is in free space. If the goal would be blocked, this would fail.

[2015-11-05 12:20] bfalacerda commented on #62
I just tried calling move base directly via rviz and i get this:

[code]

And then it stops. Can you try an rviz goal also? Do you see this error message in your case? If so, it aborted, and then was called again

[2015-11-05 12:21] cdondrup commented on #62
OK, I tested a bit more. This seems to only happen in one of the test cases where the robot after clearing the costmap is bumping back a and forth by ~1cm all the time. Therefore it moves and DWA does not fail. In every other case, I also observe the behaviour you described. It's test map mb_test1 if you want to try.

[2015-11-05 12:33] cdondrup commented on #62
Another problem, I start mon nav without a config file and get the following:

[code]

which I tought means that it would also not do the sleep and retry. Still it keeps on trying after it says aborted:

[code]

So I get the above several times before my timeout of 1 minute kicks in and preempts it.

I am calling it like this:

[code]

but this only returns after the timeout is reached and not whe

[2015-11-05 12:34] bfalacerda commented on #62
i see... maybe that has to do with the very aggressive clearing we have now: https://github.com/strands-project/strands_movebase/blob/indigo-devel/strands_movebase/strands_movebase_params/move_base_params.yaml#L15

This means we're clearing everything the robot cannot see from the costmap, which allows him to move a bit. maybe we should increase this value a bit?

[2015-11-05 12:35] bfalacerda commented on #62
regarding the retrying, that's the policy executor which is configured to retry. You see that mon nav is outputting ABORTED there. there should be a param that you can change, @Jailander ?

[2015-11-05 12:37] cdondrup commented on #62
Ah... redundancy... good...

I'll try the parameter. Thanks!

[2015-11-05 12:38] Jailander commented on #62
hmm there should be one can't remember if not I'll make it ;)

[2015-11-05 12:40] bfalacerda commented on #62
the sleep and retry is there to avoid asking for help too soon. the topo nav retry is there to make sure that after failing (and being pushed around during hellp for example) the robot checks its current waypoint and executes the appropriate action

[2015-11-05 12:41] Jailander commented on #62
oh yeah I'll set this up with @cdondrup

[2015-11-05 13:59] Jailander commented on #62
that parameter existed for topological navigation but not for execute_policy_mode a fix for this is in https://github.com/strands-project/strands_navigation/pull/275

[2015-11-05 14:08] bfalacerda opened #66 "strands_movebase params vs scitos_2d_nav_params"
We are maintaining two sets of params, and even loading stuff from scitos_2d_nav for strands_movebase (see https://github.com/strands-project/strands_movebase/issues/54, which I forgot about meanwhile)

Also, we have stuff that was pushed into one and not into the other. I think we should try to unify this, or at least have a version of simulation that loads the strands_movebase params, to make su

[2015-11-05 14:19] marc-hanheide commented on #66
Opinion: :+1:

I think we should put those params in `strands_movebase` for all our systems.

[2015-11-05 14:40] nilsbore commented on #66
Also :+1: , we used to have everything in `strands_movebase` but decided to use the parameters that we could from `scitos_2d_navigation`. I'm considering adding a simplified chest camera for the simulation also. Basically we could have a camera with almost the same resolution as the subsampled cloud used for navigation. This would make simulation navigation more similar to what we're using.

[2015-11-05 14:43] Jailander commented on #66
I think I'm having a deja vu :P https://github.com/strands-project/scitos_2d_navigation/issues/55

[2015-11-05 15:10] bfalacerda commented on #66
is it ok to have scitos_2d_nav depending on strands_movebase?

[2015-11-05 16:13] marc-hanheide commented on #66
Nope, that wouldn't work.

A quick search in `strands_movebase` reveals that it depends on `scitos_2d_navigation`: https://github.com/strands-project/strands_movebase/search?utf8=%E2%9C%93&q=scitos_2d_navigation

So, the original idea always was that those 2D nav parameters like DWA etc are in `scitos_2d_navigation` and _not_ in `strands_movebase`... We can change that policy, but we certainly sho

[2015-11-05 16:15] marc-hanheide commented on #66
BTW, all the dependencies are shown in this:
![here](https://lcas.lincoln.ac.uk/jenkins/job/generate_report/lastSuccessfulBuild/artifact/repos.png)

So there you see you'd introduce a forbidden cycle.

[2015-11-09 14:34] cburbridge commented on #62
@creuther The issue with the delay on the odometry channel or commanding the robot is not a problem with the ROS side, but the MIRA side. I have created a separate issue for it here: https://github.com/strands-project/scitos_drivers/issues/114

[2015-11-17 16:07] cdondrup commented on #62
The navigation tests have been merged into strands_navigation. This has not been released yet, but have a look at the [README](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/tests/README.md) and check out the current version of the repo to run tests in simulation and on the real robot.

[2015-11-17 16:13] nilsbore commented on #62
Cool! Is it time for another hangout or should we just start running these tests IRL and then report back our findings?

[2015-11-17 16:50] cdondrup commented on #62
You can try the tests first and let me know if you have any questions/suggestions. Still missing are the dynamic tests and also the exact definition of what kind of feedback we want from the test.

In general, I think a hangout would be good.

[2015-11-17 21:44] marc-hanheide commented on #62
Agreed on the hangout. Can you initiate a doodle? Also, I have released strands_navigation again to include the tests.

[2015-11-18 08:58] denisehe commented on #62
hello,
well I followed your discussions - but actually all the technical details do not tell me that much.
is it possible that you film the tests so that I can see how the robot reacts to different test situations - so I can give you profound feedback if it is okay for the deployment or not :-)
Cheers from sunny and extremely hot vienna!

[2015-11-18 09:40] cdondrup commented on #62
I sent an email to everyone who participated in the last hangout but in case someone new wants to join: http://doodle.com/poll/dchmfrzzwsca2qnk

Please fill in the doodle till the end of the week.

[2015-11-18 11:52] cburbridge commented on #62
I have found what I suspect to be a bug in the scitos URDF: https://github.com/strands-project/scitos_common/pull/59. If this is an issue then it will have an effect on the movebase parameters....

[2015-11-18 12:12] cdondrup commented on #62
Regarding the forking of ros navigation into our github mentioned in [here](https://github.com/strands-project/strands_movebase/issues/62#issuecomment-151664938), is the current navigation fork already @cburbridge 's version? Is this released already? I am currently changing the DWA to include my velocity costmaps so I would like to be able to contribute to our fork of the navigation framework. Ca

[2015-11-18 13:31] nilsbore opened #67 "[strands_description] Update chest camera urdf to new laser frame"
The chest camera base frame needs to be translated in the x direction to account for the bug found in the frame of the laser scan https://github.com/strands-project/scitos_common/pull/59 .

[2015-11-18 14:25] marc-hanheide commented on #62
I enabled issues

[2015-11-18 14:39] marc-hanheide commented on #62
I have also done the following on https://github.com/strands-project/navigation:
- merged the upstream of indigo-devel into our fork
- I have made indigo-devel the default branch
- I have enabled [devel](https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-navigation_strands_fork/) and [PR](https://lcas.lincoln.ac.uk/jenkins/job/pr-indigo-navigation_strands_fork/) build on jenkins for our fork (as

[2015-11-18 14:52] cdondrup commented on #62
Thank you @marc-hanheide !

[2015-11-18 15:36] marc-hanheide commented on #62
also changed all maintainers to `marc@hanheide.net` in all `package.xml` to make sure we on't harass the original maintainers when our builds fail. Feel free to change it to your name, when you do change things.

[2015-11-20 16:34] #67 closed

[2015-11-25 11:39] marc-hanheide commented on #62
agreed in meeting today:
- @bfalacerda to make sure we only use strands_movebase parameters (https://github.com/strands-project/strands_morse/issues/144)
- put the correct params as discussed above in strands_movebase
- update the footprint
- make sure that all those PRs related to this are merged
- run the tests as described in https://github.com/strands-project/strands_navigation/blob/indigo-dev

[2015-11-25 12:07] nilsbore commented on #62
Sorry I wasn't there, had forgotten to put it in my calendar. Will follow up on this.

[2015-11-25 17:41] bfalacerda commented on #54
closing, duplicate of #66

[2015-11-25 17:41] #54 closed

[2015-11-26 14:54] bfalacerda commented on #27
closing this as the discussion on this is now being done on https://github.com/strands-project/strands_movebase/issues/62

Also linking this issue there, so we keep the conclusions made here in mind

[2015-11-26 14:54] #27 closed

[2015-12-02 09:01] nilsbore commented on #62
It seems that the moving of the laser and chest camera frames, together with the changing of the footprint, has improved navigation quite a bit in some aspects. What I've seen here is that the robot is traversing doors noticeably better than before.

Overall, when I ran navigation for a few hours the other day it seemed more robust but that is harder to pen down to something specific. Time to run

[2015-12-02 10:52] cdondrup commented on #62
Currently failing tests in simulation due to parameters:
- `test_static_1m_l_shaped_corridor`: After taking the bend the robot comes too close to one of the walls and shows the well known behaviour of just turning towards it and dying.
- `test_static_70cm_wide_door`: Still unsure if this will ever be solvable.
- `test_static_corridor_blocked_by_humans`: Robot plans through groups of humans (even t

[2015-12-02 12:10] nilsbore commented on #62
Maybe it's time to switch `strands_morse` to `strands_movebase` and possibly add the chest camera to the simulation. The nice thing about the chest camera in simulation is that we can use the point cloud as-is, it won't be as expensive as the computations we do for the head cam to create the color point cloud and the images. What do you think?

[2015-12-02 12:17] bfalacerda commented on #62
if navigation is being launched using strands_navigation.launch, then morse is also using strands_movebase. see https://github.com/strands-project/strands_morse/issues/144

[2015-12-02 12:18] bfalacerda commented on #62
regarding chest cam, we could add it yes, i guess it'll be important for the wheelchairs

[2015-12-02 12:22] Jailander commented on #62
yes that would be brilliant, however I think jenkins can only run simulations in the fast mode without cameras (right @marc-hanheide ?) but we could still run the tests independently using a flag like for the real robot

[2015-12-02 12:32] nilsbore commented on #62
Ok, I was just looking at this launch file: https://github.com/strands-project/strands_morse/blob/indigo-devel/mba/launch/move_base_arena_nav.launch .

[2015-12-02 12:32] nilsbore commented on #62
I'll have a look at adding the chest cam sometime during this week.

[2015-12-02 12:48] marc-hanheide commented on #62
Can we please leave the default without chestcam in simulation. Many students and other people  (including jenkins) don't have a suitable GPU and can't run the full Morse. Of course it would be great to add chestcam and a suitable flag.

[2015-12-02 12:53] nilsbore commented on #62
Of course, it will be an option.

[2015-12-02 13:55] cdondrup commented on #62
Once we have a navigation set-up that runs in simulation and on the robot, I can add that to the tests and have a flag as well, yes.

[2016-01-25 18:17] cdondrup commented on #62
We did the first real robot tests based on the test scenarios in simulation. You find a few videos here: https://lcas.lincoln.ac.uk/owncloud/index.php/s/GppNjlMSMyaHTVf#

Short summary or what isn't working:
- the robot starting 10cm away from the wall. Doesn't even move regardless of the angle it is facing it at.
- the middle waypoint blocked by an obsctacle, robot doesn't even try to move. Accor

[2016-01-25 20:01] marc-hanheide commented on #62
Many thanks, @Jailander and @cdondrup for getting going on this.
I think it's now time we reconvene on hangout to replicate this at the various sites and to discuss the improvements possible to make it pass all those tests. The latter seem to be mostly related to topological navigation, so @Jailander and @bfalacerda are probably the ones to look at those.

Question to @cdondrup: I presume this was

[2016-01-25 21:13] bfalacerda commented on #62
i'd expect the robot to at least try to get closer to the wp in the second situation, even if he doesnt manage to get through it... I'll also try that and see what happens. Is `float64 xy_goal_tolerance` of the waypoints set to something?

Regarding the last one, that's the expected behaviour and I also think it's acceptable. we cant really hope to do anything better than that.

I have a suggestio

[2016-01-26 09:58] Jailander commented on #62
@bfalacerda that could be possible I'm unsure of the consequences of this in terms of making the robot follow the actual topological route and not taking another route, I'll put it in as soon as I have time on a separate branch and test it in simulation.

About the XY tolerance you are right this this should have worked, I'll rerun the tests today

**EDIT**: we already change the move_base goal im

[2016-01-26 10:15] cburbridge commented on #62
This needs fixing in the simulation as it might have an effect on the testing results https://github.com/strands-project/strands_morse/issues/143

[2016-01-26 10:56] bfalacerda commented on #62
@Jailander when was that changed? is nav smoother now?

[2016-01-26 11:12] Jailander commented on #62
oops no my mistake, just checked, I did that in the ICRA branch but never pushed it upstream as that branch is substantially different from our main system, the behaviour it had was worse, the reason for that is that when the robot changed goal sooner it was going faster so it stopped harder (but in that case there was a bigger time gap between move base goals because we switched maps too), I am n

[2016-01-26 11:17] bfalacerda commented on #62
I think he shouldn't stop at all, if you send a new goal to move_base it usually changes quite smoothly. We have deceleration now because he was getting close to the goal before receiving the new one, but if we send new goals from further away it should be smoother. Why does he stop when he gets a new goal?

[2016-01-26 11:21] Jailander commented on #62
hmm in that case it could have been because there was no (metric) map for some time, I'll test it on normal conditions and tell you.

[2016-01-28 11:23] marc-hanheide commented on #62
Minutes of Meeting:
- We only use the parameters in strands_movebase
- We re-released strands_movebase, strands_navigation, scitos_common to be up to date
- Then everybody should replicate the tests according to the video¯

[2016-01-28 18:40] marc-hanheide commented on #62
All releases are out. Time to update and run the tests.

[2016-02-03 15:10] nilsbore commented on #62
Unfortunately, it looks like Rosie's PCB power board has fried again, meaning we have no main computer atm. We'll see what happens but it likely won't be possible to run tests this week.

[2016-02-03 21:46] marc-hanheide commented on #62
Ah, bugger... OK, we'll have to see what we can do here and hopefully Birmingham @kunzel @bfalacerda will be able to run on their site?

[2016-02-04 10:31] bfalacerda commented on #62
yes, we have student that's going to help, I'm meeting him today to set up the testing. Just to confirm, the idea now is to run the static tests one by one and report the result right?

[2016-02-04 10:43] bfalacerda commented on #66
https://github.com/bfalacerda/strands_movebase/commit/dd2f53eb10f18f40021099dd56c172549bf10277 makes strands_movebase not load from scitos_2d_nav.

For the time being  we'll stop updating scitos_2d_nav params, and once the testing is done we'll replicate the final params  there

[2016-02-04 10:43] #66 closed

[2016-02-04 18:22] bfalacerda commented on #62
So we have the robot ready to run tests, we just need to make some arenas resembling the scenarios.

~~@Jailander @cdondrup the output from the "push robot to start location" always tells me I'm 2 meters away from the goal.~~ Ignore this, the topo node pose wasn't being updated properly for some reason

[2016-02-09 15:00] nilsbore opened #71 "[strands_movebase] Investigate if controller_frequency should be lower"
At AAF, we discovered that the `controller_frequency` parameter (https://github.com/strands-project/strands_movebase/blob/indigo-devel/strands_movebase/strands_movebase_params/move_base_params.yaml#L3) being set to 10 hz caused quite a bit of overshooting. Changing it to 5 hz fixed the issues that we were having. We should investigate if this leads to an improvement on other systems as well.

[2016-02-09 15:01] nilsbore commented on #71
It should also be noted that 20 hz caused massive overshooting and other problems (we observed 4m overshoot in once instance). So there is a clear problem with higher frequencies.

[2016-02-09 15:43] bfalacerda commented on #71
i also noticed the overshooting a couple of days ago when preparing the nav tests. It wasn't happening very often before (after some fix we did for the previous case of overshooting, which I don't remember what it was). I wonder what changed for it to reappear...

[2016-02-11 13:25] marc-hanheide commented on #71
Could it have to do with overall load? What if we set the frequency higher than the computer can actually deliver? Would things queue up then? That's my best guess so far.

[2016-02-11 13:27] nilsbore commented on #71
As I mentioned in the previous comment, 20 hz caused the system to go completely haywire. We still need to investigate if these overshoot issues are Werner specific though. At AAF, it was overshooting every time it had to turn before reaching its final position.

[2016-02-11 13:30] marc-hanheide commented on #71
Yes, I suspect it's the discrepancy between desired rate and achievable rate. 20Hz is not achievable I assume and hence it fails...

[2016-03-09 12:09] bfalacerda commented on #71
I'm having this with Bob all the time, I reduced the frequency to 5Hz but he still overshoots all the time... @nilsbore any suggestion?

[2016-03-09 15:03] nilsbore commented on #71
@bfalacerda Sorry, this fixed it for us at least. What version of the MIRA firmware do you have installed? The new version?

[2016-03-22 14:20] bfalacerda commented on #71
@creuther updated our robots with the new firmware, MCU 1.8.14, and overshooting seems to be gone, even with the 10Hz controller frequency.

DWA prints warnings when the controller loop tales longer than the frequency parameter, and I didn't see that happening when the robots were overshooting, so I'm doubtful that that was the culprit in Werner also. Anyway, I think atm it'd be a good policy to u

[2016-03-22 15:21] marc-hanheide commented on #71
So, @Jailander @gestom first adopting this for Linda and then decide if to update Werner?

[2016-03-22 15:52] gestom commented on #71
maybe after we are done with the charging tests?

[2018-05-22 14:39] hawesie opened #72 "[calibrate_chest] calibrate rotation around forward axis"
We're seeing a problem where the chest camera is mounted slightly rotated around the axis coming out of the front of the robot. The current calibration routing does not account for this, but should be updated to calibrate this angle too.

[2019-11-25 16:40] marc-hanheide opened #73 "[strands_navfn] is not melodic-ready"
as https://lcas.lincoln.ac.uk/buildfarm/job/Mdev__strands_movebase__ubuntu_bionic_amd64/ shows, `strands_navfn` refuses to compile for ROS melodic.

The problem is a lot of API changes in `move_base`: https://github.com/paulbovbel/frontier_exploration/issues/38#issuecomment-449415389

So, question: What does `strands_navfn` offer that the standard `navfn` doesn't? Can it be removed?

[2019-11-25 16:59] hawesie commented on #73
Hmm... this wasn't me. Perhaps @nilsbore remembers?

[2019-11-25 17:08] bfalacerda commented on #73
This was me. The functionality it provides is always looking at the `default_tolerance` parameter before planning. This would allow us to plan to influence areas even if there was an obstacle in the middle. We need it to be dynamically checked before planning because the tolerance for intermediary nodes should be greater than 0  (e.g. 1m) but for target nodes it should be 0.0

Commit below shows t

[2019-11-26 00:18] marc-hanheide commented on #73
Thanks @bfalacerda I wonder if this is indeed still needed. It's a bit unfortunate this hasn't been a fork of the original, difficult to merge from upstream in this case, I reckon.

[2019-11-26 07:12] bfalacerda commented on #73
yeah, it wasn't the best way to do it... I'd say ignore  this package and if we end up needing it we do the fork and re-do the change, it's easy enough.

I think the only thing that need to be changed to stop using this package is https://github.com/strands-project/strands_movebase/blob/indigo-devel/strands_movebase/strands_movebase_params/move_base_params.yaml#L1

[2019-11-26 09:09] marc-hanheide commented on #73
see #74

[2019-11-26 09:11] marc-hanheide commented on #73
FYI: our melodic release is slowly taking shape... https://github.com/LCAS/rosdistro/wiki/repos-melodic in case @hawesie or @bfalacerda want to update Bob and/or Betty.

[2019-11-26 10:00] #73 closed